.error {
  margin-top: 2rem;
  font-size: 2rem;
  animation: miremiad 2s linear infinite;
}

@keyframes miremiad {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
